/* #region Base */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 14px;
    background-color: #FFFFFF;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    min-height: auto;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    cursor: pointer;
    font-family: inherit;
}

address {
    font-style: normal;
}
/* #endregion Base */

/* #region Component */


.container { 
max-width: 1158px; 
margin: 0 auto;
padding: 0 15px;
outline: 2px solid red;
    outline-offset: -2px;
} 

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #endregion Component */


/* #region Header */
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header .container {
    
   
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
}

.logo-head{
color: #2e2f42;
}



.header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav-item {
        color: #2e2f42;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
}
.header-nav-item a {
padding: 24px 0;
}
.nav:hover,
.nav:focus {
    color: #404bbf;
}

.address{
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
    align-items: center;
    width: 100%;
}

.address-list-item {
    color: #434455;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.address-list-item:hover,
.address-list-item:focus {
    color: #404bbf;
}

/* #endregion Header */
/* #region Hero */
.hero {
    background-color: #2E2F42;
    padding: 188px 0;
}

.hero .container {
    
}
.page-title {
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    letter-spacing: 1.12px;
    text-align: center;
    color: white;
    max-width: 496px;
    outline: red 1px solid;
    margin: 0 auto 48px;
}

.button-hero {
    min-width: 169px;
    height: 56px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    margin: 0 auto;
    border-radius: 4px;
        background: var(--IRIS, #4D5AE5);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}
/* #endregion Hero */
/* #region properties */

.properties {
    padding: 120px 0;
}
.properties-list{
    display: flex;
    gap: 24px;
}
.title {
    font-size: 20px;
    font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.properties-list-item .title {
    margin-bottom: 8px;
}
.properties-list-item {
    display: flex;
        width: calc((100% - 72px) / 4);;
        flex-direction: column;
        align-items: flex-start;
}
.page{
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.section-title {
    font-size: 36px;
        color: #2E2F42;
        font-weight: 500;
            line-height: 1.11;
            letter-spacing: 0.02em;
        text-transform: capitalize;
    text-align: center;
}
/* #endregion properties */
/* #region Team */
.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team .section-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0px 0px 4px 4px;
            background: var(--WHITE, #FFF);
            box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.team-list-item-div {
    display: flex;
    width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}
.team-list-item-div .title {
    margin-bottom: 8px;
    text-align: center;

}
.team-list-item-div .page {
    text-align: center;
}
/* #endregion Team */


/* #region Our Portfolio */
  .portfolio {
      padding: 120px 0;
    }
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio .section-title {
    margin-bottom: 72px;
}

.portfolio-list-item {
    display: flex;
        width: 360px;
        height: 420px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-shrink: 0;
        background: var(--WHITE, #FFF);
}

.portfolio-list-item-div {
    display: flex;
        height: 120px;
        padding: 32px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-shrink: 0;
        align-self: stretch;
        border-right: 1px solid var(--CORNFLOWER, #E7E9FC);
            border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
            border-left: 1px solid var(--CORNFLOWER, #E7E9FC);
}
.portfolio-list-item-div .title {
    margin-bottom: 8px;
}

/* #endregion Our Portfolio */


/* #region footer */
.footer {
        padding: 100px 0;
    background-color: #2E2F42;    
    
}

.footer-page {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}
.logo-footer {
    text-transform: uppercase;
        color: #4d5ae5;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
}
.logo-foot {
    color: #f4f4fd;
}
/* #endregion footer */